{% extends "base.html" %}  {# Предполагается, что ваш текущий код находится в base.html #}

{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block title %}Workly | Регистрация{% endblock %}

{% block main_content_title %}Регистрация{% endblock %}

{% block content %}
<div class="registration-form">
    <p>Регистрация проходит через нашего <a target="_blank" href="https://t.me/workly_easy_bot"><span style="color: red;">Телеграм-бота</span></a></p>
    <p>Отправьте боту команду /id - чтобы получить ваш ID</p>
    <p>Введите ID в поле ниже, и получите код в боте</p>
    
    <form id="registrationForm">
        <div class="form-group">
            <input type="text" id="telegram_id" name="telegram_id" required class="form-control" placeholder="Введите ваш ID">
            <div id="telegram_id_error" class="error-message"></div>
        </div>
        
        <div class="form-group" id="code_group" style="display: none;">
            <input placeholder="Код подтверждения" type="text" id="confirmation_code" name="confirmation_code" class="form-control">
            <div id="code_error" class="error-message"></div>
        </div>
        
        <button type="button" id="action_button" class="submit-button">Отправить код</button>
    </form>
    
    <div class="login-link">
        Уже есть аккаунт? <a href="{{ url_for('login:page') }}">Войти</a>
    </div>
</div>
{% endblock %}